.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

docs/build/
docs/yarn.lock
docs/node_modules
website/i18n/*
npm-debug.log
docs/.vuepress/dist/
google_cloud_credentials.json

.vscode/
