.home .feature img {
	width: 40%
}

a, p a code {
	color: #61a60e;
}

.dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active, .dropdown-wrapper .nav-dropdown .dropdown-item a:hover {
    color: #61a60e;
}

.theme-default-content:not(.custom), .page-edit, .page-nav {
	max-width: 1024px !important;
	margin: 0 auto;
	padding: 2rem 2.5rem;
}
  
