$nprogressColor = #4081E2
$accentColor = #4081E2
$textColor = #151f38
$navbarHeight = 4rem
$contentWidth = 1024px

html,
body {
	font-family: 'DM Sans', sans-serif;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
	color: #151f38;
	background: #f4f4f4;
	height: 100%;
}

.theme-container.no-sidebar {
	height: 100%;
	background: #FFF;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow: auto;
}

.page {
	min-height: calc(100vh - 35px);
}

#app, .theme-container {
	height: 100%;
}

.sidebar {
	font-size: 17px;
}

a.sidebar-link {
	padding-top: 13px;
}

.sidebar-group ul.sidebar-sub-headers a.sidebar-link {
	padding-top: 13px;
}

.sidebar-group a.sidebar-link.active {
	color: #4081E2;
	border-left-color: #4081E2;
	background-color: #F3F8FA;
}

.sidebar-group ul.sidebar-sub-headers a.sidebar-link.active {
	background-color: #FFFFFF;
}

.sidebar-group a.sidebar-link:hover {
	color: #4081E2;
}

pre {
	max-height: 400px;
	overflow: auto;
}

code {
	white-space : pre-wrap !important;
}

.circle {
    width: 130px;
    height: 130px;
    float: left;
    background-color: #000000;
    border-radius: 100px;
    margin-right: 20px;
}

.cool-table table {
	border: 0px;
}

.center {
	text-align: center;
}

.dont {
    padding-left: 40px;
    background: url(https://cloud.modyocdn.com/uploads/ede84e61-77d1-46fd-919c-fc294a8746c6/original/cancel.svg) no-repeat 0px 0px;
    min-height: 30px;
    margin-top: 10px;
}

.card {
    display: block;
    background-color: #F6F7F7;
    margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 20px 20px 20px;
}

.color-box {
	width:150px;
	text-align:center;
	padding:10px 30px 10px 30px;
}

.color-table {
	padding:20px;
	margin:0px;
	height:auto;
	overflow: visible;
}
