.home {
	background: #f8fdf4 no-repeat bottom url('/assets/img/hero.jpg');
	background-size: 1470px;
	height: 440px;
	padding: 0 20px;
	text-align: center;
	width: 100%;
	max-width: none;
	margin: 0 auto;
}
.home .hero {
	padding-top: 160px;
}
.home .hero img {
	display: none;
}

.features {
	max-width: 960px;
	margin: 0 auto;
}