.home {
	background: #f8fdf4 no-repeat bottom url('/assets/img/hero.jpg');
	background-size: 1470px;
	height: 440px;
	padding: 0 20px;
	text-align: center;
	max-width: none;
	margin: 0 auto;
}
.home .hero {
	padding-top: 160px;
}
.home .hero img {
	display: none;
}

.features {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.features p {
	height: 90px;
}

.content.custom .feature img {
	max-width: 80px;
}

pre {
	max-height: 400px;
	overflow: auto;
}

code {
	white-space : pre-wrap !important;
}

.content p img {
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.custom-block.tip, .custom-block.warning, .custom-block.danger {
	margin-top: 35px;
	margin-bottom: 35px;
}